.userhomecontain{
   display:flex;
   flex-direction: row;
}
.userhomeleft{
    float: left;
    width: 30%;
}
.userhomeright{
    float: right;
    width: 35%;
    margin-top: 100px;
}
.userhomemiddle{
    float: auto;
    width: 35%;
    margin-top: 50px;
    padding-left: 250px;
}
.userhomeform{
    padding: 5px;
    width: 100%;
    color:  #0d987d;
    border: 1px solid #0d987d;
    padding-bottom: 30px;
}
.userhomebutton{
    width: 100px;
    color:  #0d987d;
    margin: 2px;
}